
services:
  app:
    build: 
      context: .
    image: kelassor-app  
    container_name: django-app
    command: >
      sh -c "python manage.py migrate &&
             python manage.py collectstatic --noinput --clear &&  # جمع‌آوری فایل‌های استاتیک
             gunicorn Kelassor.wsgi:application --bind 0.0.0.0:8000"
    depends_on:
      - db
      - redis 
    # env_file:
    # - ./Kelassor/.env
    volumes:
      - .:/code
    ports:
      - "8000:8000"

  db:
    image: postgres:15
    container_name: postgres-db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: kelassor
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: amir112233

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  celery:
    build: .
    container_name: celery-worker
    command: celery -A Kelassor worker --loglevel=info
    volumes:
      - .:/code
    # env_file:
    #   - ./Kelassor/.env
    depends_on:
      - app
      - redis

  celery-beat:
    build: .
    container_name: celery-beat
    command: celery -A Kelassor beat --loglevel=info
    volumes:
      - .:/code
    # env_file:
    #   - ./Kelassor/.env
    depends_on:
      - app
      - redis

volumes:
  postgres_data:  # داده‌های دیتابیس در این volume ذخیره می‌شوند

